<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-unityads"
        version="1.0.0">
  <name>CordovaUnityAdsPlugin</name>
  <description>Cordova Plugin for Unity Ads</description>
  <author>Arreva Team</author>
  <license>MIT</license>

  <js-module src="www/emiUnityAdsPlugin.js" name="emiUnityAdsPlugin">
    <clobbers target="cordova.plugins.emiUnityAdsPlugin" />
    <clobbers target="UnityAds" />
  </js-module>

  <engines>
    <engine name="cordova" version=">=10.0.0" />
    <engine name="cordova-android" version=">=10.0.0" />
  </engines>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="emiUnityAdsPlugin">
        <param name="android-package" value="emi.indo.cordova.plugin.unityads.emiUnityAdsPlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
          android:name="com.unity3d.ads.adunit.AdUnitActivity"
          android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
          android:hardwareAccelerated="true"
          android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
      <activity
          android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
          android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
          android:hardwareAccelerated="false"
          android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </config-file>

    <source-file src="src/android/emiUnityAdsPlugin.java" target-dir="src/emi/indo/cordova/plugin/unityads" />
    <framework src="com.unity3d.ads:unity-ads:4.12.0" />
  </platform>
</plugin>
